<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
    <div>
        <form method="POST" action="/l-chat/creat-room" class="form_create">
            <input name="owner_id" value="<%=owner_id%>" hidden/>
            <div class="form-floating mb-2">
                <input type="text" class="form-control" name="title" id="floatingTitle" placeholder="write title">
                <label for="floatingTitle">chat room title</label>
            </div>
            <div class="form-floating mb-2">
                <input type="number" class="form-control" name="visitors" id="floatingVisitors" placeholder="Password">
                <label for="floatingVisitors">visitors</label>
            </div>
            <div class="form-floating mb-2">
                <input type="text" class="form-control" name="description" id="floatingDescription" placeholder="write title">
                <label for="floatingDescription">description</label>
            </div>
            <button type="submit" class="btn btn-secondary">create room</button>
        </form>
    </div>
</body>
</html>