<%- include('includes/header') %>
<!-- header ends here -->

<div class="container py-md-5 container--narrow">

  <% if(success != '') { %>
  <div class="alert alert-success text-center"><%= success %></div>
  <% } %>

  <% if(postErrors) { postErrors.forEach(function(ele) { %>
  <div class="alert alert-danger text-center"><%= ele %></div>
  <% } ) } %>

  <a href="/">&laquo;Go back</a>

  <form action="/create-post" method="POST">
    <div class="form-group">
      <label for="post-title" class="text-muted mb-1"><small>Title</small></label>
      <input name="title" id="post-title" class="form-control form-control-lg form-control-title" type="text"
        placeholder="" autocomplete="off">
    </div>

    <div class="form-group">
      <label for="post-body" class="text-muted mb-1"><small>Body Content</small></label>
      <textarea name="body" id="post-body" class="body-content tall-textarea form-control" type="text"></textarea>
    </div>

    <button class="btn btn-primary">Save New Post</button>
  </form>
</div>

<!-- footer begins -->
<%- include('includes/footer')%>