<%- include('includes/header') %>
<!-- header ends here -->

<div class="container py-md-5 container--narrow">
    <div id="ltalk" class="text-center">


        <div class="ntalk_container list_container">
            <div class="ntalk_tabs" style="height: 50px;">
                <a id="con_list" href="/l-talk" class="active">대화목록(0)</a>
                <a href="/l-talk/user_search">회원검색</a>
            </div>
            <!--    대화방 리스트-->
            <div class="ntalk_list" style="height: 450px;">
                <div class="ntalk_none">
                    <img src="/img/chat/panic.png" alt="">
                    <p>엔톡 대화방이 없습니다.</p>
                </div>
            </div>
        </div>


        <!-- 엔톡 대화방 -->

        <div class="ntalk_container view_container" style="height: 500px; display: none">
            <div class="ntalk_header">
                <div class="btn_list"></div>
                <p id="dialog">님과의 대화</p>
                <div class="btn_popup"></div>
            </div>
            <div class="ntalk_wrap">
                <div class="load_more">이전 대화내용 더보기</div>
                <div class="guide">
                    대화 내용은 7일 이후 순차적으로 삭제됩니다.<br/>
                    개인정보노출은 제재 대상입니다.<br/>
                    원치 않는 회원은 오른쪽 아래 설정 버튼을 눌러<br/>
                    방나가기/방삭제 또는 차단하기를 이용해주세요.<br/>
                    <?= $memberNick ?>님의 <a href="">톡 신청 제한 횟수</a>는 <b>0</b>/20회입니다.
                </div>
            </div>
            <div class="ntalk_input">
                <input id="ntalk_input_text" type="text" placeholder="이곳에 할말을 입력해주세요.">
                <div class="setting_area">
                    <div class="btn_setup"></div>
                    <ul class="setup">
                        <li>
                            <a class="btn_delete">
                                <span class="ic"></span>방나가기/방삭제</a>
                        </li>
                        <li>
                            <a class="btn_blacklist">
                                <span class="ic"></span>
                                <span><?= $memberNick ?></span>님 엔톡 블랙리스트 등록하기
                            </a>
                        </li>
                        <li>
                            <a class="btn_report">
                                <span class="ic"></span>
                                <span><?= $memberNick ?></span>>님 신고하기
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


    </div>
</div>

<!-- footer begins -->
<%- include('includes/footer') %>