<%- include('../includes/header') %>
<!-- header ends here -->

<div class="container py-md-5 container--narrow">
    <div id="ltalk-users" class="text-center">

        <div class="ntalk_container list_container" style="height:578px;display:none;">
            <div class="ntalk_tabs" style="height: 50px;">
                <a id="con_list" href="/l-talk-list">대화목록</a>
                <a href="/l-talk/user-search" class="active">회원검색</a>
<!--                <a href="/ntalk/blacklist.php">블랙리스트</a>-->
<!--                <a href="/ntalk/setting.php">설정</a>-->
            </div>

            <div class="search_user">
                <div class="search_bar">
                    <input type="text" id="search_val" placeholder="검색할 회원의 닉네임을 입력해 주세요." value="">
                    <div class="btn_search"></div>
                </div>
                <div class="search_guide">
                    <p><b>추천픽스터</b> (닉네임 클릭 시 유저홈으로 이동)</p>
                </div>

                <div class="user_list" style="display: none">
                </div>

            </div>

        </div>

    </div>
</div>

<!-- footer begins -->
<%- include('../includes/footer') %>